//
//  Version-Config.xcconfig
//  VerIDCore
//
//  Created by Jakub Dolejs on 22/02/2022.
//  Copyright © 2022 Applied Recognition Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
MARKETING_VERSION = 2.12.1
CURRENT_PROJECT_VERSION = 2012001
