//
//  Version.xcconfig
//  VerIDUI
//
//  Created by Jakub Dolejs on 05/01/2022.
//  Copyright © 2022 Applied Recognition. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
MARKETING_VERSION=1.12.11
CURRENT_PROJECT_VERSION = 1012011
