<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Liveness detection</string>
			<key>FooterText</key>
			<string>Liveness detection prevents spoofing Ver-ID with a picture</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Liveness detection</string>
			<key>Key</key>
			<string>livenessDetectionPoses</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Liveness detection off</string>
				<string>Require 1 pose</string>
				<string>Require 2 poses</string>
				<string>Require 3 poses</string>
				<string>Require 4 poses</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Pose detection thresholds</string>
			<key>FooterText</key>
			<string>Threshold angles for pose detection</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Yaw</string>
			<key>Key</key>
			<string>yawThreshold</string>
			<key>DefaultValue</key>
			<integer>15</integer>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
				<integer>25</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>18</string>
				<string>19</string>
				<string>20</string>
				<string>21</string>
				<string>22</string>
				<string>23</string>
				<string>24</string>
				<string>25</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Pitch</string>
			<key>Key</key>
			<string>pitchThreshold</string>
			<key>DefaultValue</key>
			<integer>12</integer>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
				<integer>25</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>18</string>
				<string>19</string>
				<string>20</string>
				<string>21</string>
				<string>22</string>
				<string>23</string>
				<string>24</string>
				<string>25</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Authentication</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Level</string>
			<key>Key</key>
			<string>authenticationThreshold</string>
			<key>DefaultValue</key>
			<real>4</real>
			<key>Values</key>
			<array>
				<integer>3</integer>
				<real>3.5</real>
				<real>4</real>
				<real>4.5</real>
				<real>5</real>
			</array>
			<key>Titles</key>
			<array>
				<string>Easiest (3.0)</string>
				<string>Easy (3.5)</string>
				<string>Normal (4.0)</string>
				<string>Hard (4.5)</string>
				<string>Hardest (5.0)</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Face template extraction threshold</string>
			<key>FooterText</key>
			<string>Increasing the threshold will make authenticating more secure but also more difficult, especially in low-light situations</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Mininum face quality</string>
			<key>Key</key>
			<string>faceExtractQualityThreshold</string>
			<key>DefaultValue</key>
			<real>8</real>
			<key>Values</key>
			<array>
				<real>5</real>
				<real>6</real>
				<real>7</real>
				<real>8</real>
				<real>9</real>
			</array>
			<key>Titles</key>
			<array>
				<string>5.0</string>
				<string>6.0</string>
				<string>7.0</string>
				<string>8.0</string>
				<string>9.0</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Registration</string>
			<key>FooterText</key>
			<string>Registering more faces improves authentication accuracy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Number of faces to register</string>
			<key>Key</key>
			<string>numberOfFacesToRegister</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>1 face</string>
				<string>3 faces</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable face template encryption</string>
			<key>Key</key>
			<string>faceTemplateEncryption</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
